In [1]:
# 필요한 라이브러리 호출

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [3]:
# 파일 로드
df = pd.read_csv('C:/myPyCode/data/car.csv')
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [4]:
# 데이터 확인중
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [6]:
# object 숫자 확인
df.info() # name, fuel, seller_type, transmission, owner, mileage, engine,
# max_power, torque, 이상 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [8]:
# 소수점 축약
pd.options.display.float_format = "{:.4f}".format
df.describe()

           year  selling_price    km_driven     seats
count 8128.0000      8128.0000    8128.0000 7907.0000
mean  2013.8040    638271.8077   69819.5108    5.4167
std      4.0442    806253.4035   56550.5550    0.9596
min   1983.0000     29999.0000       1.0000    2.0000
25%   2011.0000    254999.0000   35000.0000    5.0000
50%   2015.0000    450000.0000   60000.0000    5.0000
75%   2017.0000    675000.0000   98000.0000    5.0000
max   2020.0000  10000000.0000 2360457.0000   14.0000

In [9]:
# 결측치 확인
df.isnull().sum() # 5 feature

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [11]:
# 데이터 전처리 시작
# 명목형 변수 처리

df.describe(include='O') # 총 9개

,name,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque
count,8128,8128,8128,8128,8128,7907,7907,7913,7906
unique,2058,4,3,2,5,393,121,322,441
top,Maruti Swift Dzire VDI,Diesel,Individual,Manual,First Owner,18.9 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm
freq,129,4402,6766,7078,5289,225,1017,377,530

In [12]:
# engine 피쳐부터 시작

# value 종류부터 확인

df.engine.unique() # CC라는 단위가 존재

array(['1248 CC', '1498 CC', '1497 CC', '1396 CC', '1298 CC', '1197 CC',
       '1061 CC', '796 CC', '1364 CC', '1399 CC', '1461 CC', '993 CC',
       nan, '1198 CC', '1199 CC', '998 CC', '1591 CC', '2179 CC',
       '1368 CC', '2982 CC', '2494 CC', '2143 CC', '2477 CC', '1462 CC',
       '2755 CC', '1968 CC', '1798 CC', '1196 CC', '1373 CC', '1598 CC',
       '1998 CC', '1086 CC', '1194 CC', '1172 CC', '1405 CC', '1582 CC',
       '999 CC', '2487 CC', '1999 CC', '3604 CC', '2987 CC', '1995 CC',
       '1451 CC', '1969 CC', '2967 CC', '2497 CC', '1797 CC', '1991 CC',
       '2362 CC', '1493 CC', '1599 CC', '1341 CC', '1794 CC', '799 CC',
       '1193 CC', '2696 CC', '1495 CC', '1186 CC', '1047 CC', '2498 CC',
       '2956 CC', '2523 CC', '1120 CC', '624 CC', '1496 CC', '1984 CC',
       '2354 CC', '814 CC', '793 CC', '1799 CC', '936 CC', '1956 CC',
       '1997 CC', '1499 CC', '1948 CC', '2997 CC', '2489 CC', '2499 CC',
       '2609 CC', '2953 CC', '1150 CC', '1994 CC', '1388 CC', '1527 CC',
       '2199 CC', '995 CC', '2993 CC', '1586 CC', '1390 CC', '909 CC',
       '2393 CC', '3198 CC', '1339 CC', '2835 CC', '2092 CC', '1595 CC',
       '2496 CC', '1596 CC', '1597 CC', '2596 CC', '2148 CC', '1299 CC',
       '1590 CC', '2231 CC', '2694 CC', '2200 CC', '1795 CC', '1896 CC',
       '1796 CC', '1422 CC', '1489 CC', '2359 CC', '2197 CC', '2999 CC',
       '1781 CC', '2650 CC', '1343 CC', '2446 CC', '3498 CC', '2198 CC',
       '2776 CC', '1950 CC'], dtype=object)

In [13]:
# 메서드 str.split(expand)를 통해 컬럼 분리

df.engine.str.split(expand=True)

         0   1
0     1248  CC
1     1498  CC
2     1497  CC
3     1396  CC
4     1298  CC
...    ...  ..
8123  1197  CC
8124  1493  CC
8125  1248  CC
8126  1396  CC
8127  1396  CC

[8128 rows x 2 columns]

In [14]:
# 컬럼 자체의 이름 설정

df[['engine','engine_unit']] = df.engine.str.split(expand=True)
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,engine_unit
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248,74 bhp,190Nm@ 2000rpm,5.0000,CC
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498,103.52 bhp,250Nm@ 1500-2500rpm,5.0000,CC
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0000,CC
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396,90 bhp,22.4 kgm at 1750-2750rpm,5.0000,CC
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0000,CC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197,82.85 bhp,113.7Nm@ 4000rpm,5.0000,CC
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0000,CC
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248,73.9 bhp,190Nm@ 2000rpm,5.0000,CC
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396,70 bhp,140Nm@ 1800-3000rpm,5.0000,CC
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396,70 bhp,140Nm@ 1800-3000rpm,5.0000,CC

In [15]:
# engine을 실수형을 변형

df.engine = df.engine.astype('float32')
df.engine

0      1248.0000
1      1498.0000
2      1497.0000
3      1396.0000
4      1298.0000
          ...
8123   1197.0000
8124   1493.0000
8125   1248.0000
8126   1396.0000
8127   1396.0000
Name: engine, Length: 8128, dtype: float32

In [16]:
# (주의) 단위가 써있는 unit 행은 삭제(drop)

df.drop('engine_unit', axis = 1, inplace = True)
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248.0000,74 bhp,190Nm@ 2000rpm,5.0000
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498.0000,103.52 bhp,250Nm@ 1500-2500rpm,5.0000
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497.0000,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0000
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396.0000,90 bhp,22.4 kgm at 1750-2750rpm,5.0000
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298.0000,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197.0000,82.85 bhp,113.7Nm@ 4000rpm,5.0000
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493.0000,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0000
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248.0000,73.9 bhp,190Nm@ 2000rpm,5.0000
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396.0000,70 bhp,140Nm@ 1800-3000rpm,5.0000
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396.0000,70 bhp,140Nm@ 1800-3000rpm,5.0000

In [17]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats'],
      dtype='object')

In [18]:
# max_power(최대 출력) 처리 시작

df.max_power.head() # bhp 단위 수정

0        74 bhp
1    103.52 bhp
2        78 bhp
3        90 bhp
4      88.2 bhp
Name: max_power, dtype: object

In [19]:
df.max_power.unique() # 데이터 종류 확인

array(['74 bhp', '103.52 bhp', '78 bhp', '90 bhp', '88.2 bhp',
       '81.86 bhp', '57.5 bhp', '37 bhp', '67.1 bhp', '68.1 bhp',
       '108.45 bhp', '60 bhp', '73.9 bhp', nan, '67 bhp', '82 bhp',
       '88.5 bhp', '46.3 bhp', '88.73 bhp', '64.1 bhp', '98.6 bhp',
       '88.8 bhp', '83.81 bhp', '83.1 bhp', '47.3 bhp', '73.8 bhp',
       '34.2 bhp', '35 bhp', '81.83 bhp', '40.3 bhp', '121.3 bhp',
       '138.03 bhp', '160.77 bhp', '117.3 bhp', '116.3 bhp', '83.14 bhp',
       '67.05 bhp', '168.5 bhp', '100 bhp', '120.7 bhp', '98.63 bhp',
       '175.56 bhp', '103.25 bhp', '171.5 bhp', '100.6 bhp', '174.33 bhp',
       '187.74 bhp', '170 bhp', '78.9 bhp', '88.76 bhp', '86.8 bhp',
       '108.495 bhp', '108.62 bhp', '93.7 bhp', '103.6 bhp', '98.59 bhp',
       '189 bhp', '67.04 bhp', '68.05 bhp', '58.2 bhp', '82.85 bhp',
       '81.80 bhp', '73 bhp', '120 bhp', '94.68 bhp', '160 bhp', '65 bhp',
       '155 bhp', '69.01 bhp', '126.32 bhp', '138.1 bhp', '83.8 bhp',
       '126.2 bhp', '98.96 bhp', '62.1 bhp', '86.7 bhp', '188 bhp',
       '214.56 bhp', '177 bhp', '280 bhp', '148.31 bhp', '254.79 bhp',
       '190 bhp', '177.46 bhp', '204 bhp', '141 bhp', '117.6 bhp',
       '241.4 bhp', '282 bhp', '150 bhp', '147.5 bhp', '108.5 bhp',
       '103.5 bhp', '183 bhp', '181.04 bhp', '157.7 bhp', '164.7 bhp',
       '91.1 bhp', '400 bhp', '68 bhp', '75 bhp', '85.8 bhp', '87.2 bhp',
       '53 bhp', '118 bhp', '103.2 bhp', '83 bhp', '84 bhp', '58.16 bhp',
       '147.94 bhp', '74.02 bhp', '53.3 bhp', '80 bhp', '88.7 bhp',
       '97.7 bhp', '121.36 bhp', '162 bhp', '140 bhp', '94 bhp',
       '100.57 bhp', '82.9 bhp', '83.11 bhp', '70 bhp', '153.86 bhp',
       '121 bhp', '126.3 bhp', '73.97 bhp', '171 bhp', '69 bhp',
       '99.6 bhp', '102 bhp', '105 bhp', '63 bhp', '79.4 bhp', '97.9 bhp',
       '63.1 bhp', '66.1 bhp', '110 bhp', '174.5 bhp', '53.26 bhp',
       '73.75 bhp', '67.06 bhp', '64.08 bhp', '37.5 bhp', '189.3 bhp',
       '158.8 bhp', '61.7 bhp', '55.2 bhp', '71.01 bhp', '73.74 bhp',
       '147.9 bhp', '71 bhp', '77 bhp', '121.4 bhp', '113.4 bhp',
       '47 bhp', '130 bhp', '57.6 bhp', '138 bhp', '52.8 bhp',
       '53.64 bhp', '53.5 bhp', '76.8 bhp', '82.4 bhp', '113.42 bhp',
       '76 bhp', '84.8 bhp', '0', '56.3 bhp', '218 bhp', '112 bhp',
       '92 bhp', '105.5 bhp', '169 bhp', '95 bhp', '72.4 bhp', '115 bhp',
       '152 bhp', '91.2 bhp', '156 bhp', '74.9 bhp', '62 bhp',
       '105.3 bhp', '73.94 bhp', '85.80 bhp', '85 bhp', '118.3 bhp',
       '72 bhp', '147.51 bhp', '58 bhp', '64 bhp', '126.24 bhp',
       '76.9 bhp', '194.3 bhp', '99.23 bhp', '89.84 bhp', '123.7 bhp',
       '118.35 bhp', '99 bhp', '241 bhp', '136 bhp', '261.4 bhp',
       '104.68 bhp', '37.48 bhp', '104 bhp', '88.50 bhp', '63.12 bhp',
       '91.7 bhp', '102.5 bhp', '177.6 bhp', '45 bhp', '123.37 bhp',
       '147.8 bhp', '184 bhp', '84.48 bhp', '68.07 bhp', '74.96 bhp',
       '167.6 bhp', '152.87 bhp', '112.2 bhp', '83.83 bhp', '197 bhp',
       '110.4 bhp', '104.55 bhp', '103 bhp', '103.3 bhp', '66 bhp',
       '108.6 bhp', '165 bhp', '163.7 bhp', '116.9 bhp', '94.93 bhp',
       '127 bhp', '198.5 bhp', '179.5 bhp', '120.69 bhp', '121.31 bhp',
       '138.08 bhp', '187.7 bhp', '80.8 bhp', '86.79 bhp', '93.87 bhp',
       '116.6 bhp', '143 bhp', '92.7 bhp', '88 bhp', '58.33 bhp',
       '78.8 bhp', '64.4 bhp', '125 bhp', '139.01 bhp', '254.8 bhp',
       '181 bhp', '258 bhp', '55.23 bhp', '270.9 bhp', '265 bhp',
       '157.75 bhp', '101 bhp', '186 bhp', '187.4 bhp', '224 bhp',
       '64.9 bhp', '148 bhp', '35.5 bhp', '89.75 bhp', '32.8 bhp',
       '91.72 bhp', '106 bhp', '98.97 bhp', '66.6 bhp', '86 bhp',
       '65.3 bhp', '98.82 bhp', '198.25 bhp', '38 bhp', '142 bhp',
       '132 bhp', '174.57 bhp', '178 bhp', '163.2 bhp', '203.2 bhp',
       '177.5 bhp', '175 bhp', '57 bhp', '80.84 bhp', '68.4 bhp',
       '167.67 bhp', '170.63 bhp', '52 bhp', '149.5 bhp', '48.21 bhp',
       ' bhp', '201.1 bhp', '100.5 bhp', '144 bhp', '194.4 bhp',
       '168.7 bhp', '104.5 bhp', '103.26 bhp', '116.4 bhp', '98.79 bhp',
       '80.9 bhp', '58.3 bhp', '272 bhp', '235 bhp', '167.62 bhp',
       '170.30 bhp', '139.46 bhp', '158 bhp', '110.5 bhp', '82.5 bhp',
       '141.1 bhp', '38.4 bhp', '197.2 bhp', '161 bhp', '194 bhp',
       '122.4 bhp', '134.10 bhp', '60.2 bhp', '134 bhp', '203 bhp',
       '135.1 bhp'], dtype=object)

In [20]:
# bhp 단일 value가 존재하여 전처리 필요

In [21]:
df[['max_power','max_power_unit']] = df.max_power.str.split(expand=True)

In [22]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,max_power_unit
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248.0000,74,190Nm@ 2000rpm,5.0000,bhp
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498.0000,103.52,250Nm@ 1500-2500rpm,5.0000,bhp
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497.0000,78,"12.7@ 2,700(kgm@ rpm)",5.0000,bhp
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396.0000,90,22.4 kgm at 1750-2750rpm,5.0000,bhp
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298.0000,88.2,"11.5@ 4,500(kgm@ rpm)",5.0000,bhp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197.0000,82.85,113.7Nm@ 4000rpm,5.0000,bhp
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493.0000,110,"24@ 1,900-2,750(kgm@ rpm)",5.0000,bhp
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248.0000,73.9,190Nm@ 2000rpm,5.0000,bhp
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396.0000,70,140Nm@ 1800-3000rpm,5.0000,bhp
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396.0000,70,140Nm@ 1800-3000rpm,5.0000,bhp

In [23]:
# 직접 정의한 타입 변환 함수를 통해 error를 처리
# float로 변환
def handle_float(value):
    try:
        return float(value)
    except ValueError:
        return np.NaN

In [24]:
df.max_power = df.max_power.apply(handle_float)

In [25]:
df.max_power

0       74.0000
1      103.5200
2       78.0000
3       90.0000
4       88.2000
         ...
8123    82.8500
8124   110.0000
8125    73.9000
8126    70.0000
8127    70.0000
Name: max_power, Length: 8128, dtype: float64

In [26]:
df.isnull().sum()

name                0
year                0
selling_price       0
km_driven           0
fuel                0
seller_type         0
transmission        0
owner               0
mileage           221
engine            221
max_power         216
torque            222
seats             221
max_power_unit    222
dtype: int64

In [27]:
# 단위는 불필요하니 삭제
# (주의)
df.drop('max_power_unit', axis = 1, inplace=True)

In [28]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248.0000,74.0000,190Nm@ 2000rpm,5.0000
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498.0000,103.5200,250Nm@ 1500-2500rpm,5.0000
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497.0000,78.0000,"12.7@ 2,700(kgm@ rpm)",5.0000
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396.0000,90.0000,22.4 kgm at 1750-2750rpm,5.0000
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298.0000,88.2000,"11.5@ 4,500(kgm@ rpm)",5.0000

In [29]:
# mileage 데이터 처리 시작

df.mileage.unique()

array(['23.4 kmpl', '21.14 kmpl', '17.7 kmpl', '23.0 kmpl', '16.1 kmpl',
       '20.14 kmpl', '17.3 km/kg', '23.59 kmpl', '20.0 kmpl',
       '19.01 kmpl', '17.3 kmpl', '19.3 kmpl', nan, '18.9 kmpl',
       '18.15 kmpl', '24.52 kmpl', '19.7 kmpl', '22.54 kmpl', '21.0 kmpl',
       '25.5 kmpl', '26.59 kmpl', '21.5 kmpl', '20.3 kmpl', '21.4 kmpl',
       '24.7 kmpl', '18.2 kmpl', '16.8 kmpl', '24.3 kmpl', '14.0 kmpl',
       '18.6 kmpl', '33.44 km/kg', '23.95 kmpl', '17.0 kmpl',
       '20.63 kmpl', '13.93 kmpl', '16.0 kmpl', '17.8 kmpl', '18.5 kmpl',
       '12.55 kmpl', '12.99 kmpl', '14.8 kmpl', '13.5 kmpl', '26.0 kmpl',
       '20.65 kmpl', '27.3 kmpl', '11.36 kmpl', '17.68 kmpl',
       '14.28 kmpl', '18.53 kmpl', '14.84 kmpl', '21.12 kmpl',
       '20.36 kmpl', '21.27 kmpl', '18.16 kmpl', '22.0 kmpl', '25.1 kmpl',
       '20.51 kmpl', '21.66 kmpl', '25.2 kmpl', '22.9 kmpl', '16.02 kmpl',
       '20.54 kmpl', '22.77 kmpl', '15.71 kmpl', '23.1 kmpl',
       '19.02 kmpl', '19.81 kmpl', '26.2 km/kg', '16.47 kmpl',
       '15.04 kmpl', '19.1 kmpl', '21.79 kmpl', '18.8 kmpl', '21.21 kmpl',
       '15.37 kmpl', '11.79 kmpl', '19.0 kmpl', '14.3 kmpl', '15.8 kmpl',
       '15.1 kmpl', '19.09 kmpl', '22.32 kmpl', '21.9 kmpl', '14.53 kmpl',
       '21.63 kmpl', '20.85 kmpl', '20.45 kmpl', '19.67 kmpl',
       '23.01 kmpl', '20.77 kmpl', '17.92 kmpl', '17.01 kmpl',
       '22.37 kmpl', '19.33 kmpl', '9.5 kmpl', '12.83 kmpl', '22.48 kmpl',
       '16.78 kmpl', '14.67 kmpl', '15.0 kmpl', '13.96 kmpl', '18.0 kmpl',
       '12.07 kmpl', '26.21 kmpl', '10.8 kmpl', '16.3 kmpl', '13.6 kmpl',
       '14.74 kmpl', '15.6 kmpl', '19.56 kmpl', '22.69 kmpl',
       '19.16 kmpl', '18.12 kmpl', '12.1 kmpl', '17.5 kmpl', '42.0 kmpl',
       '20.4 kmpl', '21.1 kmpl', '19.44 kmpl', '13.0 kmpl', '21.43 kmpl',
       '22.95 kmpl', '16.2 kmpl', '15.3 kmpl', '28.09 kmpl', '17.4 kmpl',
       '19.4 kmpl', '26.6 km/kg', '17.6 kmpl', '28.4 kmpl', '14.1 kmpl',
       '25.17 kmpl', '22.74 kmpl', '17.57 kmpl', '16.95 kmpl',
       '19.49 kmpl', '17.21 kmpl', '13.2 kmpl', '14.2 kmpl', '26.8 kmpl',
       '25.4 kmpl', '11.5 kmpl', '27.28 kmpl', '17.97 kmpl', '12.8 kmpl',
       '16.55 kmpl', '12.05 kmpl', '14.07 kmpl', '21.02 kmpl',
       '11.57 kmpl', '17.9 kmpl', '15.96 kmpl', '17.1 kmpl', '17.19 kmpl',
       '21.01 kmpl', '24.0 kmpl', '25.6 kmpl', '21.38 kmpl', '23.84 kmpl',
       '23.08 kmpl', '14.24 kmpl', '20.71 kmpl', '15.64 kmpl',
       '14.5 kmpl', '16.34 kmpl', '27.39 kmpl', '11.1 kmpl', '13.9 kmpl',
       '20.88 km/kg', '20.92 kmpl', '23.8 kmpl', '24.4 kmpl',
       '15.29 kmpl', '21.19 kmpl', '22.5 kmpl', '19.6 kmpl', '23.65 kmpl',
       '25.32 kmpl', '23.5 kmpl', '16.6 kmpl', '23.9 kmpl', '20.8 kmpl',
       '27.62 kmpl', '12.9 kmpl', '25.44 kmpl', '17.88 kmpl', '22.7 kmpl',
       '17.2 kmpl', '15.42 kmpl', '19.68 kmpl', '18.7 kmpl', '15.4 kmpl',
       '19.34 kmpl', '22.71 kmpl', '25.8 kmpl', '13.7 kmpl', '12.2 kmpl',
       '18.49 kmpl', '9.0 kmpl', '0.0 kmpl', '13.58 kmpl', '10.1 kmpl',
       '20.5 kmpl', '25.0 kmpl', '10.5 kmpl', '22.07 kmpl', '22.3 kmpl',
       '15.26 kmpl', '20.62 kmpl', '27.4 kmpl', '23.2 kmpl', '14.4 kmpl',
       '18.4 kmpl', '30.46 km/kg', '14.02 kmpl', '11.0 kmpl', '20.6 kmpl',
       '22.05 kmpl', '20.2 kmpl', '18.1 kmpl', '22.1 kmpl', '19.87 kmpl',
       '13.01 kmpl', '18.06 kmpl', '26.1 kmpl', '16.52 kmpl',
       '13.55 kmpl', '24.2 kmpl', '25.83 kmpl', '11.2 kmpl', '17.09 kmpl',
       '21.03 kmpl', '17.45 kmpl', '21.64 kmpl', '21.94 km/kg',
       '13.87 kmpl', '19.98 kmpl', '20.52 kmpl', '23.57 kmpl',
       '11.7 kmpl', '17.43 kmpl', '18.88 kmpl', '13.68 kmpl',
       '11.18 kmpl', '20.89 kmpl', '11.8 kmpl', '19.62 kmpl', '21.7 kmpl',
       '14.9 kmpl', '19.5 kmpl', '10.91 kmpl', '15.7 kmpl', '20.73 kmpl',
       '15.85 kmpl', '20.7 kmpl', '14.23 kmpl', '16.5 kmpl', '17.36 kmpl',
       '12.6 kmpl', '16.36 kmpl', '14.95 kmpl', '16.9 kmpl', '19.2 kmpl',
       '16.96 kmpl', '22.15 kmpl', '18.78 kmpl', '19.61 kmpl',
       '17.71 kmpl', '18.3 kmpl', '19.12 kmpl', '19.72 kmpl', '12.0 kmpl',
       '11.4 kmpl', '23.03 kmpl', '11.07 kmpl', '15.9 kmpl', '17.67 kmpl',
       '20.46 kmpl', '13.1 kmpl', '13.45 km/kg', '24.8 kmpl',
       '15.73 kmpl', '15.11 kmpl', '12.7 kmpl', '21.2 kmpl', '20.38 kmpl',
       '21.56 kmpl', '13.22 kmpl', '14.49 kmpl', '15.05 kmpl',
       '23.26 kmpl', '15.41 kmpl', '13.8 kmpl', '22.27 kmpl',
       '32.52 km/kg', '14.66 kmpl', '12.12 kmpl', '16.84 kmpl',
       '14.09 kmpl', '14.7 kmpl', '13.4 kmpl', '15.5 kmpl', '13.49 kmpl',
       '11.88 km/kg', '14.6 kmpl', '10.75 kmpl', '24.5 kmpl',
       '11.74 kmpl', '16.07 kmpl', '15.63 kmpl', '26.3 km/kg',
       '23.7 km/kg', '25.47 kmpl', '17.05 kmpl', '23.3 kmpl', '11.9 kmpl',
       '13.38 kmpl', '20.86 kmpl', '19.2 km/kg', '10.9 kmpl',
       '18.25 kmpl', '15.2 kmpl', '20.37 kmpl', '17.8 km/kg', '21.8 kmpl',
       '11.96 kmpl', '24.04 kmpl', '19.69 kmpl', '13.73 kmpl',
       '21.04 kmpl', '25.01 kmpl', '10.93 kmpl', '10.9 km/kg',
       '24.29 kmpl', '13.44 kmpl', '20.07 kmpl', '21.1 km/kg',
       '19.08 kmpl', '20.34 kmpl', '11.68 kmpl', '12.5 kmpl', '12.3 kmpl',
       '23.87 kmpl', '16.38 kmpl', '17.42 kmpl', '10.0 kmpl',
       '18.24 kmpl', '10.71 kmpl', '19.59 kmpl', '16.7 kmpl',
       '19.83 kmpl', '21.76 kmpl', '16.05 kmpl', '20.28 kmpl',
       '16.25 kmpl', '16.73 kmpl', '18.48 kmpl', '13.2 km/kg',
       '21.4 km/kg', '14.99 kmpl', '18.76 kmpl', '16.4 kmpl',
       '19.64 kmpl', '14.94 kmpl', '16.6 km/kg', '16.0 km/kg',
       '17.11 kmpl', '22.8 km/kg', '32.26 km/kg', '33.0 km/kg',
       '12.4 kmpl', '18.44 kmpl', '16.09 kmpl', '19.0 km/kg',
       '12.62 kmpl', '21.13 kmpl', '15.17 kmpl', '21.73 kmpl',
       '21.72 kmpl', '12.85 kmpl', '14.81 kmpl', '13.24 kmpl',
       '14.4 km/kg', '21.49 kmpl', '14.62 kmpl', '26.83 km/kg',
       '11.45 kmpl', '12.08 kmpl', '15.74 kmpl', '11.3 kmpl',
       '15.1 km/kg', '14.21 kmpl', '11.72 kmpl', '16.51 kmpl'],
      dtype=object)

In [30]:
# 배경 지식 필요 (kmpl)

df[['mileage','mileage_unit']]= df.mileage.str.split(expand=True)
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,mileage_unit
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248.0000,74.0000,190Nm@ 2000rpm,5.0000,kmpl
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0000,103.5200,250Nm@ 1500-2500rpm,5.0000,kmpl
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497.0000,78.0000,"12.7@ 2,700(kgm@ rpm)",5.0000,kmpl
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396.0000,90.0000,22.4 kgm at 1750-2750rpm,5.0000,kmpl
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298.0000,88.2000,"11.5@ 4,500(kgm@ rpm)",5.0000,kmpl

In [31]:
df.mileage = df.mileage.astype('float32')
df.mileage

0      23.4000
1      21.1400
2      17.7000
3      23.0000
4      16.1000
         ...
8123   18.5000
8124   16.8000
8125   19.3000
8126   23.5700
8127   23.5700
Name: mileage, Length: 8128, dtype: float32

In [32]:
df.fuel.unique() # fuel 4종류에 km/l과 km/kg가 대응함

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [33]:
df.fuel[df.mileage_unit == 'kmpl'].unique() # kmpl : diesel, petrol 대응

array(['Diesel', 'Petrol'], dtype=object)

In [34]:
df.fuel[df.mileage_unit == 'km/kg'].unique() # km/kg에 lpg, cng가 대응

array(['LPG', 'CNG'], dtype=object)

In [37]:
# 현재 유가 확인

fuels = {
    'Petrol' : 80.4,
    'Diesel' : 73.5,
    'LPG' : 40.8,
    'CNG' : 44.2
}
fuels

{'Petrol': 80.4, 'Diesel': 73.5, 'LPG': 40.8, 'CNG': 44.2}

In [38]:
# map으로 딕셔너리 제작
df.fuel.map(fuels)

0      73.5000
1      73.5000
2      80.4000
3      73.5000
4      80.4000
         ...
8123   80.4000
8124   73.5000
8125   73.5000
8126   73.5000
8127   73.5000
Name: fuel, Length: 8128, dtype: float64

In [39]:
# 연비
df.mileage / df.fuel.map(fuels)

0      0.3184
1      0.2876
2      0.2201
3      0.3129
4      0.2002
        ...
8123   0.2301
8124   0.2286
8125   0.2626
8126   0.3207
8127   0.3207
Length: 8128, dtype: float64

In [40]:
# apply로 행이 갖고 있는 열 사용

def handle_mileage(row):
    return row.mileage/fuels[row.fuel]

In [42]:
df.mileage = df.apply(handle_mileage, axis=1)
df.mileage

0      0.0043
1      0.0039
2      0.0027
3      0.0043
4      0.0025
        ...
8123   0.0029
8124   0.0031
8125   0.0036
8126   0.0044
8127   0.0044
Name: mileage, Length: 8128, dtype: float64

In [43]:
# unit 행 삭제 주의

df.drop('mileage_unit', axis=1, inplace= True)

In [44]:
# torque 전처리
df.torque.unique()

array(['190Nm@ 2000rpm', '250Nm@ 1500-2500rpm', '12.7@ 2,700(kgm@ rpm)',
       '22.4 kgm at 1750-2750rpm', '11.5@ 4,500(kgm@ rpm)',
       '113.75nm@ 4000rpm', '7.8@ 4,500(kgm@ rpm)', '59Nm@ 2500rpm',
       '170Nm@ 1800-2400rpm', '160Nm@ 2000rpm', '248Nm@ 2250rpm',
       '78Nm@ 4500rpm', nan, '84Nm@ 3500rpm', '115Nm@ 3500-3600rpm',
       '200Nm@ 1750rpm', '62Nm@ 3000rpm', '219.7Nm@ 1500-2750rpm',
       '114Nm@ 3500rpm', '115Nm@ 4000rpm', '69Nm@ 3500rpm',
       '172.5Nm@ 1750rpm', '6.1kgm@ 3000rpm', '114.7Nm@ 4000rpm',
       '60Nm@ 3500rpm', '90Nm@ 3500rpm', '151Nm@ 4850rpm',
       '104Nm@ 4000rpm', '320Nm@ 1700-2700rpm', '250Nm@ 1750-2500rpm',
       '145Nm@ 4600rpm', '146Nm@ 4800rpm', '343Nm@ 1400-3400rpm',
       '200Nm@ 1400-3400rpm', '200Nm@ 1250-4000rpm',
       '400Nm@ 2000-2500rpm', '138Nm@ 4400rpm', '360Nm@ 1200-3400rpm',
       '200Nm@ 1200-3600rpm', '380Nm@ 1750-2500rpm', '173Nm@ 4000rpm',
       '400Nm@ 1750-3000rpm', '400Nm@ 1400-2800rpm',
       '200Nm@ 1750-3000rpm', '111.7Nm@ 4000rpm', '219.6Nm@ 1500-2750rpm',
       '112Nm@ 4000rpm', '250Nm@ 1500-3000rpm', '130Nm@ 4000rpm',
       '205Nm@ 1750-3250rpm', '280Nm@ 1350-4600rpm', '99.04Nm@ 4500rpm',
       '77Nm@ 3500rpm', '110Nm@ 3750rpm', '153Nm@ 3800rpm',
       '113.7Nm@ 4000rpm', '114Nm@ 4000rpm', '113Nm@ 4200rpm',
       '101Nm@ 3000rpm', '290Nm@ 1800-2800rpm', '120Nm@ 4250rpm',
       '250Nm@ 1500~4500rpm', '96 Nm at 3000 rpm', '360Nm@ 1750-2800rpm',
       '135Nm@ 2500rpm', '259.8Nm@ 1900-2750rpm', '200Nm@ 1900rpm',
       '259.9Nm@ 1900-2750rpm', '91Nm@ 4250rpm', '96.1Nm@ 3000rpm',
       '109Nm@ 4500rpm', '400nm@ 1750-3000rpm', '202Nm@ 3600-5200rpm',
       '430Nm@ 1750-2500rpm', '347Nm@ 4300rpm', '382nm@ 1750-2250rpm',
       '620Nm@ 1600-2400rpm', '400Nm@ 1750-2500rpm', '250@ 1250-5000rpm',
       '500Nm@ 1600-1800rpm', '250Nm@ 1600-3600rpm', '400Nm',
       '550Nm@ 1750-2750rpm', '490Nm@ 1600rpm', '250 Nm at 2750 rpm',
       '177.5Nm@ 4700rpm', '170Nm@ 1750-4000rpm', '300Nm@ 1200-4000rpm',
       '300Nm@ 1200-1400rpm', '260Nm@ 1500-2750rpm', '213Nm@ 4500rpm',
       '224Nm@ 4000rpm', '640Nm@ 1740rpm', '113Nm@ 4500rpm',
       '95Nm@ 3000-4300rpm', '13.1kgm@ 4600rpm', '205Nm@ 1800-2800rpm',
       '71Nm@ 3500rpm', '190Nm@ 1750-3000rpm', '146Nm at 4800 rpm',
       '14.9 KGM at 3000 RPM', '115Nm@ 3200rpm', '117nm@ 4000rpm',
       '320Nm@ 1500-3000rpm', '72Nm@ 4386rpm', '11.4 kgm at 4,000 rpm',
       '140Nm@ 1500-4000rpm', '134Nm@ 4000rpm', '150Nm@ 4500rpm',
       '340Nm@ 1800-3250rpm', '240Nm@ 1600-2800rpm',
       '330Nm@ 1600-2800rpm', '12.5@ 3,500(kgm@ rpm)', '110Nm@ 4800rpm',
       '111.8Nm@ 4000rpm', '11.8@ 3,200(kgm@ rpm)', '135.4Nm@ 2500rpm',
       '300Nm@ 1750-2500rpm', '190.25nm@ 1750-2250rpm',
       '140Nm@ 1800-3000rpm', '20.4@ 1400-3400(kgm@ rpm)',
       '247Nm@ 1800-2000rpm', '223Nm@ 1600-2200rpm',
       '180 Nm at 1440-1500rpm', '195Nm@ 1400-2200rpm',
       '154.9Nm@ 4200rpm', '114.73Nm@ 4000rpm', '160Nm@ 1500-2750rpm',
       '108Nm@ 4400rpm', '190.24nm@ 1750-2250rpm', '200Nm@ 2000-3500rpm',
       '420Nm@ 1400-2600rpm', '100Nm@ 2700rpm', '51Nm@ 4000rpm',
       '250Nm@ 1250-5300rpm', '132Nm@ 3000rpm', '350Nm@ 1500-2750rpm',
       '218Nm@ 4200rpm', '14.9@ 3,000(kgm@ rpm)',
       '24@ 1,900-2,750(kgm@ rpm)', '13.5@ 2,500(kgm@ rpm)',
       '85Nm@ 3000rpm', '74.5Nm@ 4000rpm', '160Nm@ 1750rpm',
       '180.4Nm@ 1750-2500rpm', '230Nm@ 1500-2500rpm',
       '113.75Nm@ 4000rpm', '219.66nm@ 1500-2750rpm', '245Nm@ 1750rpm',
       '360Nm@ 1400-3200rpm', '320Nm@ 2000rpm', '135 Nm at 2500  rpm ',
       '24 KGM at 1900-2750 RPM', '190Nm@ 1750-2250rpm',
       '204Nm@ 2000-2750rpm', '14.3@ 1,800-3,000(kgm@ rpm)',
       '250nm@ 1500-2750rpm', '125Nm@ 2000rpm', '172Nm@ 4300rpm',
       '150Nm@ 1750rpm', '102Nm@ 4000rpm', '85Nm@ 2500rpm',
       '8.5@ 2,500(kgm@ rpm)', '180Nm@ 1440-1500rpm', '106.5Nm@ 4400rpm',
       '108.5Nm@ 5000rpm', '350Nm@ 1750-2500rpm', '144.15nm@ 4500rpm',
       '104Nm@ 4400rpm', '99Nm@ 4500rpm', '200Nm@ 2000rpm',
       '280Nm@ 1800-2800rpm', '142.5Nm@ 1750rpm', '140Nm@ 4400rpm',
       '115@ 2,500(kgm@ rpm)', '196Nm@ 5000rpm',
       '260 Nm at 1800-2200 rpm', '9.8@ 3,000(kgm@ rpm)',
       '209Nm@ 2000rpm', '135 Nm at 2500 rpm', '140Nm@ 4200rpm',
       '220Nm at 1400-2600 rpm', '48Nm@ 3000rpm', '171Nm@ 1800rpm',
       '277.5Nm@ 1700-2200rpm', '215Nm@ 3600rpm', '219.6Nm@ 1750-2750rpm',
       '195Nm@ 1440-2200rpm', '13@ 2,500(kgm@ rpm)', '180Nm@ 2000rpm',
       '200Nm@ 1400-2200rpm', '380Nm(38.7kgm)@ 2500rpm', '110Nm@ 4400rpm',
       '72Nm@ 4388rpm', '263.7Nm@ 2500rpm', '320Nm@ 1600-2800rpm',
       '25.5@ 1,500-3,000(kgm@ rpm)', '16.3@ 2,000(kgm@ rpm)',
       '190 Nm at 1750 rpm ', '94.14Nm@ 3500rpm', '12@ 3,500(kgm@ rpm)',
       '113Nm@ 5000rpm', '280Nm@ 2400-2800rpm', '96Nm@ 3500rpm',
       '16@ 2,000(kgm@ rpm)', '320Nm@ 1750-3000rpm', '114.73nm@ 4000rpm',
       '320Nm@ 1750-2500rpm', '138nm@ 4400rpm', '190Nm@ 1750rpm',
       '789Nm@ 2250rpm', '259.87Nm@ 1900-2750rpm', '205Nm@ 1750rpm',
       '436.39Nm@ 1800-2500rpm', '182.5Nm@ 1500-1800rpm',
       '90.3Nm@ 4200rpm', '12.5@ 2,500(kgm@ rpm)', '215Nm@ 1750-3000rpm',
       '215Nm@ 1750-3000', '305Nm@ 2000rpm', '540Nm@ 2000rpm',
       '327Nm@ 2600rpm', '300Nm@ 1600-3000rpm', '620Nm@ 2000-2500rpm',
       '450Nm@ 1600-2400rpm', '19@ 1,800(kgm@ rpm)',
       '9.2@ 4,200(kgm@ rpm)', '145@ 4,100(kgm@ rpm)',
       '51Nm@ 4000+/-500rpm', '110Nm@ 3000rpm', '148Nm@ 3500rpm',
       '116Nm@ 4750rpm', '48@ 3,000+/-500(NM@ rpm)', '148Nm@ 4000rpm',
       '222Nm@ 4300rpm', '135.3Nm@ 5000rpm', '98Nm@ 1600-3000rpm',
       '170Nm@ 1400-4500rpm', '343Nm@ 1400-2800rpm',
       '402Nm@ 1600-3000rpm', '113Nm@ 3300rpm', '99.07Nm@ 4500rpm',
       '210nm@ 1600-2200rpm', '190 Nm at 1750  rpm ', '32.1kgm@ 2000rpm',
       '224nm@ 1500-2750rpm', '400nm@ 1750-2500rpm',
       '215Nm@ 1750-2500rpm', '25@ 1,800-2,800(kgm@ rpm)',
       '197Nm@ 1750rpm', '136.3Nm@ 4200rpm', '470Nm@ 1750-2500rpm',
       '11@ 3,000(kgm@ rpm)', '142Nm@ 4000rpm', '145Nm@ 4100rpm',
       '320Nm@ 1500-2800rpm', '123Nm@ 1000-2500rpm',
       '218Nm@ 1400-2600rpm', '510@ 1600-2400', '220Nm@ 1500-2750rpm',
       '380Nm@ 2000rpm', '104Nm@ 3100rpm', '292Nm@ 2000rpm',
       '20@ 3,750(kgm@ rpm)', '46.5@ 1,400-2,800(kgm@ rpm)',
       '380Nm@ 2500rpm', '15@ 3,800(kgm@ rpm)', '136Nm@ 4250rpm',
       '228Nm@ 4400rpm', '149Nm@ 4500rpm', '187Nm@ 2500rpm',
       '146Nm@ 3400rpm', '8.6@ 3,500(kgm@ rpm)', '219.7Nm@ 1750-2750rpm',
       '190Nm@ 2000-3000', '450Nm@ 2000rpm', '300Nm@ 2000rpm',
       '230Nm@ 1800-2000rpm', '42@ 2,000(kgm@ rpm)',
       '110Nm@ 3000-4300rpm', '110(11.2)@ 4800', '330Nm@ 1800rpm',
       '225Nm@ 1500-2500rpm', '380Nm@ 1750-2750rpm',
       '28.3@ 1,700-2,200(kgm@ rpm)', '259.88Nm@ 1900-2750rpm',
       '580Nm@ 1400-3250rpm', '400 Nm /2000 rpm', '127Nm@ 3500rpm',
       '300Nm@ 1500-2500rpm', '132.3Nm@ 4000rpm', '113nm@ 4400rpm',
       '151NM@ 4850rpm', '153Nm@ 3750-3800rpm', '10.7@ 2,500(kgm@ rpm)',
       '124.6Nm@ 3500rpm', '78Nm@ 3500rpm', '219.9Nm@ 1750-2750rpm',
       '420.7Nm@ 1800-2500rpm', '130Nm@ 3000rpm', '424Nm@ 2000rpm',
       '130@ 2500(kgm@ rpm)', '99.8Nm@ 2700rpm', '113Nm@ 4,500rpm',
       '11.2@ 4,400(kgm@ rpm)', '240Nm@ 1850rpm', '16.1@ 4,200(kgm@ rpm)',
       '320Nm@ 1750-2700rpm', '115Nm@ 4500rpm', '245Nm@ 4000rpm',
       '321Nm@ 1600-2400rpm', '619Nm@ 1600-2400rpm',
       '380Nm@ 1750-3000rpm', '560Nm@ 1500rpm', '230Nm@ 1500-2250rpm',
       '90Nm@ 2650rpm', '260Nm@ 1800-2200rpm', '600Nm@ 2000rpm',
       '259.87nm@ 1500-3000rpm', '16.6@ 4,500(kgm@ rpm)',
       '219.66NM@ 1500-2750rpm', '12.5@ 3,000(kgm@ rpm)',
       '620Nm@ 1500-2500rpm', '250Nm@ 1500-4500rpm',
       '14.9@ 3,400(kgm@ rpm)', '25.5@ 1,900(kgm@ rpm)',
       '33.7@ 1,800(kgm@ rpm)', '285Nm@ 2400-4000rpm',
       '10.7@ 2,600(kgm@ rpm)', '250Nm@ 1000-2000rpm', '240Nm@ 1750rpm',
       '226Nm@ 4400rpm', '510Nm@ 1600-2800rpm', '259.87NM@ 1500-3000rpm',
       '155 Nm at 1600-2800 rpm', '240Nm@ 2000rpm', '103Nm@ 4500rpm',
       '13.5@ 4,800(kgm@ rpm)', '400Nm@ 1750-2750rpm',
       '175Nm@ 1500-4100rpm', '72.9Nm@ 2250rpm', '135.4Nm@ 2500',
       '245Nm@ 5000rpm', '57Nm@ 2500rpm', '96Nm@ 2500rpm',
       '215nm@ 1750-2500rpm', '10.4@ 3,200(kgm@ rpm)', '128Nm@ 3100rpm',
       '102Nm@ 2600rpm', '131Nm@ 4400rpm', '11.4@ 4,000(kgm@ rpm)',
       '250Nm@ 4250rpm', '343Nm@ 1600-2800rpm', '185Nm@ 1750-2750rpm',
       '12@ 2500(kgm@ rpm)', '12.4@ 2,600(kgm@ rpm)', '170Nm@ 4200rpm',
       '176Nm@ 1500rpm', '380NM@ 1800-2800rpm', '250Nm@ 1600-2000rpm',
       '24.5@ 3,500-4,500(kgm@ rpm)', '22.9@ 1,950-4,700(kgm@ rpm)',
       '113Nm@ 4400rpm', '121Nm@ 2800rpm', '210 / 1900',
       '250Nm@ 1250-5000rpm', '400Nm@ 175-2750rpm', '350Nm@ 1500-3500rpm',
       '175nm@ 1750-4000rpm', '115@ 2500(kgm@ rpm)', '110Nm@ 4500rpm',
       '190Nm@ 2000-3000rpm', '106Nm@ 2200rpm',
       '21.4@ 1,750-4,600(kgm@ rpm)', '96Nm@ 3000rpm',
       '23.6@ 4,250(kgm@ rpm)', '11.3kgm@ 4700rpm', '450Nm@ 1750-2500rpm',
       '35.7@ 1,750-3,000(kgm@ rpm)', '6@ 2,500(kgm@ rpm)',
       '13.9 kgm at 4200 rpm', '320Nm@ 1400-4100rpm',
       '150Nm@ 1700-4500rpm', '113.8Nm@ 4000rpm', '110@ 3,000(kgm@ rpm)',
       '151Nm@ 2400rpm', '62Nm@ 2500rpm', '18@ 1,600-2,200(kgm@ rpm)',
       '83Nm@ 3000rpm', '124.5Nm@ 3500rpm', '20@ 4,700(kgm@ rpm)',
       '300Nm@ 1600-4000rpm', '171.6Nm@ 1500-4000rpm',
       '21.4@ 1,900(kgm@ rpm)', '190@ 21,800(kgm@ rpm)',
       '5.7@ 2,500(kgm@ rpm)', '88.4Nm@ 4200rpm',
       '250 Nm at 1,500-3,000 rpm', '340nm@ 1750-3000rpm',
       '36.6@ 1,750-2,500(kgm@ rpm)', '12.5kgm@ 3500rpm',
       '6.1@ 3,000(kgm@ rpm)', '110Nm@ 4000rpm', '350nm@ 1800-2600rpm',
       '175nm@ 1500-4100rpm', '4.8kgm@ 3000rpm', '355Nm@ 4500rpm',
       '51@ 1,750-3,000(kgm@ rpm)', '119Nm@ 4250rpm',
       '410Nm@ 1600-2800rpm', '174Nm@ 4300rpm', '99.1Nm@ 4500rpm',
       '385Nm@ 1600-2500rpm', '180 Nm at 2000rpm', '190 Nm at 1750 rpm',
       '53@ 2,000-2,750(kgm@ rpm)', '360Nm@ 1400-2600rpm',
       '420Nm@ 2000rpm', '124Nm@ 3500rpm', '17.5@ 4,300(kgm@ rpm)',
       '360Nm@ 2000rpm', '145Nm@ 3750rpm', '85Nm@ 3500rpm',
       '190Nm@ 4200rpm', '190 Nm at 2000rpm', '13.5@ 2500(kgm@ rpm)',
       '250nm@ 1500-3000rpm', '159.8Nm@ 1500-2750rpm', '500Nm@ 2000rpm',
       '333Nm@ 1600-3200rpm', '400nm@ 2800rpm',
       '33@ 2,000-2,680(kgm@ rpm)', '10.2@ 2,600(kgm@ rpm)', '480Nm',
       '190Nm@ 4300rpm', '320Nm@ 1800-2800rpm', '380Nm@ 1750rpm',
       '250.06nm@ 1500-2750rpm', '90nm@ 3500rpm', '190Nm@ 3700rpm',
       '436.4Nm@ 1800-2500rpm', '96  Nm at 3000  rpm '], dtype=object)

In [47]:
# unit을 추출하기 위한 함수 저으이

def handle_torque_unit(x):
    if 'NM' in str(x):
        return 'NM'
    if 'KGM' in str(x):
        return 'kgm'

In [48]:
df.torque.apply(handle_torque_unit)

0       None
1       None
2       None
3       None
4       None
        ...
8123    None
8124    None
8125    None
8126    None
8127    None
Name: torque, Length: 8128, dtype: object

In [49]:
# torque unit을 대문자 변환

df['torque_unit'] = df.torque.str.upper().apply(handle_torque_unit)

In [53]:
# 100보다 큰 unit값 조회

df[df.torque_unit.isna()].torque.unique()

array([], dtype=object)

In [55]:
df[df['torque_unit']=='Nm'].torque

13      NaN
31      NaN
78      NaN
87      NaN
119     NaN
       ...
7846    NaN
7996    NaN
8009    NaN
8068    NaN
8103    NaN
Name: torque, Length: 234, dtype: object

In [56]:
df[df['torque_unit']=='kgm'].torque

2           12.7@ 2,700(kgm@ rpm)
3        22.4 kgm at 1750-2750rpm
4           11.5@ 4,500(kgm@ rpm)
6            7.8@ 4,500(kgm@ rpm)
17       22.4 kgm at 1750-2750rpm
                  ...
8082        16.3@ 2,000(kgm@ rpm)
8104        13.5@ 4,800(kgm@ rpm)
8105             11.3kgm@ 4700rpm
8113    20.4@ 1400-3400(kgm@ rpm)
8124    24@ 1,900-2,750(kgm@ rpm)
Name: torque, Length: 504, dtype: object

In [57]:
# 결측치 강제처리
df.torque_unit.fillna('Nm', inplace=True)

In [58]:
df.torque_unit.unique()

array(['NM', 'kgm', 'Nm'], dtype=object)

In [59]:
# 정규표현식 사용

df.torque.str.extract("([\d\.]+)").astype('float') # 실수형으로 변환

            0
0    190.0000
1    250.0000
2     12.7000
3     22.4000
4     11.5000
...       ...
8123 113.7000
8124  24.0000
8125 190.0000
8126 140.0000
8127 140.0000

[8128 rows x 1 columns]

In [60]:
# 그외에는 torque에서 삭제

df.torque = df.torque.str.extract("([\d\.]+)").astype('float')
df.torque

0      190.0000
1      250.0000
2       12.7000
3       22.4000
4       11.5000
         ...
8123   113.7000
8124    24.0000
8125   190.0000
8126   140.0000
8127   140.0000
Name: torque, Length: 8128, dtype: float64

In [61]:
# 9.8066 kgm = 1Nm
# kgm을 Nm으로 만드는 함수 정의
def handle_torque_trans(x):
    if x.torque_unit =='kgm':
        return x.torque * 9.8066
    return x.torque

In [62]:
# apply로 적용

df.torque = df.apply(handle_torque_trans, axis = 1)
df.torque

0      190.0000
1      250.0000
2      124.5438
3      219.6678
4      112.7759
         ...
8123   113.7000
8124   235.3584
8125   190.0000
8126   140.0000
8127   140.0000
Name: torque, Length: 8128, dtype: float64

In [63]:
# unit행은 불필요하므로 삭제 (주의)

df.drop('torque_unit', axis = 1, inplace = True)

In [64]:
# name 수정

df.name.value_counts()

Maruti Swift Dzire VDI                             129
Maruti Alto 800 LXI                                 82
Maruti Alto LXi                                     71
BMW X4 M Sport X xDrive20d                          62
Maruti Swift VDI                                    61
                                                  ...
Skoda Fabia 1.4 TDI Ambiente                         1
Mahindra Scorpio VLX 2WD AT BSIII                    1
Renault KWID Climber 1.0 AMT                         1
Mahindra XUV300 W8 Option Dual Tone Diesel BSIV      1
Toyota Innova 2.5 GX (Diesel) 8 Seater BS IV         1
Name: name, Length: 2058, dtype: int64

In [65]:
df.name.unique()

array(['Maruti Swift Dzire VDI', 'Skoda Rapid 1.5 TDI Ambition',
       'Honda City 2017-2020 EXi', ..., 'Tata Nexon 1.5 Revotorq XT',
       'Ford Freestyle Titanium Plus Diesel BSIV',
       'Toyota Innova 2.5 GX (Diesel) 8 Seater BS IV'], dtype=object)

In [67]:
df.name = df.name.str.split(expand=True)[0]
df.name

0        Maruti
1         Skoda
2         Honda
3       Hyundai
4        Maruti
         ...
8123    Hyundai
8124    Hyundai
8125     Maruti
8126       Tata
8127       Tata
Name: name, Length: 8128, dtype: object

In [68]:
df.name.unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [69]:
# Land Rover 브랜드가 land만 조회됨
# replace로 교체
df.name = df.name.replace('Land', 'Land Rover')
df.name.unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land Rover', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [70]:
# 결측치 수정

df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        216
torque           222
seats            221
dtype: int64

In [71]:
# 결측치는 제거

df.dropna(inplace=True)

In [72]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

In [74]:
# 더미 변수 생성

car_columns = df.describe(include=['O']).columns
car_columns

Index(['name', 'fuel', 'seller_type', 'transmission', 'owner'], dtype='object')

In [75]:
# get_dummies

df = pd.get_dummies(df, columns = car_columns , drop_first= True)
df

,year,selling_price,km_driven,mileage,engine,max_power,torque,seats,name_Ashok,name_Audi,...,fuel_Diesel,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,0.0043,1248.0000,74.0000,190.0000,5.0000,0,0,...,1,0,0,1,0,1,0,0,0,0
1,2014,370000,120000,0.0039,1498.0000,103.5200,250.0000,5.0000,0,0,...,1,0,0,1,0,1,0,1,0,0
2,2006,158000,140000,0.0027,1497.0000,78.0000,124.5438,5.0000,0,0,...,0,0,1,1,0,1,0,0,0,1
3,2010,225000,127000,0.0043,1396.0000,90.0000,219.6678,5.0000,0,0,...,1,0,0,1,0,1,0,0,0,0
4,2007,130000,120000,0.0025,1298.0000,88.2000,112.7759,5.0000,0,0,...,0,0,1,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,2013,320000,110000,0.0029,1197.0000,82.8500,113.7000,5.0000,0,0,...,0,0,1,1,0,1,0,0,0,0
8124,2007,135000,119000,0.0031,1493.0000,110.0000,235.3584,5.0000,0,0,...,1,0,0,1,0,1,1,0,0,0
8125,2009,382000,120000,0.0036,1248.0000,73.9000,190.0000,5.0000,0,0,...,1,0,0,1,0,1,0,0,0,0
8126,2013,290000,25000,0.0044,1396.0000,70.0000,140.0000,5.0000,0,0,...,1,0,0,1,0,1,0,0,0,0
8127,2013,290000,25000,0.0044,1396.0000,70.0000,140.0000,5.0000,0,0,...,1,0,0,1,0,1,0,0,0,0

In [76]:
df # 더미 확인

,year,selling_price,km_driven,mileage,engine,max_power,torque,seats,name_Ashok,name_Audi,...,fuel_Diesel,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,0.0043,1248.0000,74.0000,190.0000,5.0000,0,0,...,1,0,0,1,0,1,0,0,0,0
1,2014,370000,120000,0.0039,1498.0000,103.5200,250.0000,5.0000,0,0,...,1,0,0,1,0,1,0,1,0,0
2,2006,158000,140000,0.0027,1497.0000,78.0000,124.5438,5.0000,0,0,...,0,0,1,1,0,1,0,0,0,1
3,2010,225000,127000,0.0043,1396.0000,90.0000,219.6678,5.0000,0,0,...,1,0,0,1,0,1,0,0,0,0
4,2007,130000,120000,0.0025,1298.0000,88.2000,112.7759,5.0000,0,0,...,0,0,1,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,2013,320000,110000,0.0029,1197.0000,82.8500,113.7000,5.0000,0,0,...,0,0,1,1,0,1,0,0,0,0
8124,2007,135000,119000,0.0031,1493.0000,110.0000,235.3584,5.0000,0,0,...,1,0,0,1,0,1,1,0,0,0
8125,2009,382000,120000,0.0036,1248.0000,73.9000,190.0000,5.0000,0,0,...,1,0,0,1,0,1,0,0,0,0
8126,2013,290000,25000,0.0044,1396.0000,70.0000,140.0000,5.0000,0,0,...,1,0,0,1,0,1,0,0,0,0
8127,2013,290000,25000,0.0044,1396.0000,70.0000,140.0000,5.0000,0,0,...,1,0,0,1,0,1,0,0,0,0

In [77]:
# 훈련셋/시험셋 분리 시작

In [79]:
# 패키지 호출

from sklearn.model_selection import train_test_split

In [80]:
X = df.drop('selling_price', axis = 1)
y = df['selling_price']

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

In [84]:
# 모델 적용

from sklearn.ensemble import RandomForestRegressor

In [85]:
# model 정의
model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [86]:
# 훈련셋 예측

trainpred = model.predict(X_train)
testpred = model.predict(X_test)

In [87]:
# 결정계수 호출

from sklearn.metrics import mean_squared_error

In [88]:
mean_squared_error(y_train, trainpred, squared=False) # 훈련

51722.08977105568

In [89]:
mean_squared_error(y_test, testpred, squared=False) # 시험

# overfitting 추론

176899.7678991943

In [90]:
# KFold 교차검증 시작

from sklearn.model_selection import KFold

In [91]:
kfold = KFold()

In [93]:
# 인덱스 정리 시작

df.index # 빈 인덱스 정리필요

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            8118, 8119, 8120, 8121, 8122, 8123, 8124, 8125, 8126, 8127],
           dtype='int64', length=7906)

In [95]:
df.reset_index()
df.reset_index(drop=True, inplace=True)

In [96]:
df.index

RangeIndex(start=0, stop=7906, step=1)

In [97]:
kf = KFold(n_splits = 5)
# kfold 교차검증 5회차 사용

In [98]:
X = df.drop('selling_price', axis = 1)
y = df['selling_price'] # 변수들 재소환

In [99]:
kf

KFold(n_splits=5, random_state=None, shuffle=False)

In [100]:
list(kf.split(X))

[(array([1582, 1583, 1584, ..., 7903, 7904, 7905]),
  array([   0,    1,    2, ..., 1579, 1580, 1581])),
 (array([   0,    1,    2, ..., 7903, 7904, 7905]),
  array([1582, 1583, 1584, ..., 3160, 3161, 3162])),
 (array([   0,    1,    2, ..., 7903, 7904, 7905]),
  array([3163, 3164, 3165, ..., 4741, 4742, 4743])),
 (array([   0,    1,    2, ..., 7903, 7904, 7905]),
  array([4744, 4745, 4746, ..., 6322, 6323, 6324])),
 (array([   0,    1,    2, ..., 6322, 6323, 6324]),
  array([6325, 6326, 6327, ..., 7903, 7904, 7905]))]

In [102]:
# 함수 정의

for i, j in kf.split(X):
    print(f'i : {i}')
    print(f'j : {i}')

i : [1582 1583 1584 ... 7903 7904 7905]
j : [1582 1583 1584 ... 7903 7904 7905]
i : [   0    1    2 ... 7903 7904 7905]
j : [   0    1    2 ... 7903 7904 7905]
i : [   0    1    2 ... 7903 7904 7905]
j : [   0    1    2 ... 7903 7904 7905]
i : [   0    1    2 ... 7903 7904 7905]
j : [   0    1    2 ... 7903 7904 7905]
i : [   0    1    2 ... 6322 6323 6324]
j : [   0    1    2 ... 6322 6323 6324]

In [103]:
# 순서대로 반복시키는 함수 정의

train_rmse_total = []
test_rmse_total= []

In [105]:
# 반복문 정의
train_rmse_total = []
test_rmse_total= []


for train_index, test_index in kf.split(X):
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    model = RandomForestRegressor(random_state=10)
    model.fit(X_train, y_train)
    
    train_pred = model.predict(X_train)
    test_pred = model.predict(X_test)
    
    train_rmse = mean_squared_error(y_train, train_pred, squared=False) # 훈련셋 rmse 계산
    test_rmse = mean_squared_error(y_test, test_pred, squared= False) # 시험셋 rnmse 계산
    
    train_rmse_total.append(train_rmse)
    test_rmse_total.append(test_rmse)
    
    # 다소 시간 소요

In [106]:
# 점수 종료

train_rmse_total, test_rmse_total

([52205.055231337734,
  53956.30570901482,
  52612.119480985224,
  52525.266704924805,
  54467.66782930233],
 [165438.5746333864,
  132049.9828035612,
  123546.11913847631,
  147895.8826855663,
  143159.43371203632])

In [107]:
sum(train_rmse_total) / len(train_rmse_total)# 평균

53153.28299111298

In [108]:
sum(test_rmse_total) / len(test_rmse_total) # test 평균

142417.9985946053

In [109]:
# 하이퍼 패러미터 조정

# 반복문 정의
train_rmse_total = []
test_rmse_total= []


for train_index, test_index in kf.split(X):
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    model = RandomForestRegressor(
        n_estimators = 100,
        max_depth = 50,
        min_samples_split = 5,
        min_samples_leaf = 1,
        n_jobs = -1,
        random_state = 10)
    
    model.fit(X_train, y_train)
    
    train_pred = model.predict(X_train)
    test_pred = model.predict(X_test)
    
    train_rmse = mean_squared_error(y_train, train_pred, squared=False) # 훈련셋 rmse 계산
    test_rmse = mean_squared_error(y_test, test_pred, squared= False) # 시험셋 rnmse 계산
    
    train_rmse_total.append(train_rmse)
    test_rmse_total.append(test_rmse)
    
    # 다소 시간 소요

In [116]:
# 실제값, 예측값 비교

"hyper_parameter train rmse",sum(train_rmse_total)/len(train_rmse_total)

('hyper_parameter train rmse', 66474.13941841603)

In [117]:
"hyper_parameter test rmse",sum(test_rmse_total)/len(test_rmse_total)

('hyper_parameter test rmse', 142674.6086535202)

In [118]:
# 하이퍼 패러미터로 예측 최적화 . regression 문제 종료.